<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Firebase.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hamlet"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.Home.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".Activity.Login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Login.LoginActivity"
            android:exported="true"
            android:theme="@style/Status"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Firebase.FCMMessageReceiverService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>